node_modules/**
**/node_modules/**

.vscode/**/*
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/*.code-workspace
**/package-lock.json
.gitignore
.eslintignore
.eslintrc.json
.mocharc.json
.travis.yml

client/src/**
server/src/**
shared/src/**
**/*.tsbuildinfo

gulpfile.js
contributing.md
azure-pipelines.yml
TODO

scripts/
**/testFixture/
doc/
