.vscode/**/*
**/*.ts
**/*.map
**/tsconfig.json
**/tsconfig.base.json
**/*.code-workspace
**/package-lock.json
.gitignore
.eslintignore
.eslintrc.json
.mocharc.json
.travis.yml

gulpfile.js
contributing.md
azure-pipelines.yml
TODO

scripts/
**/testFixture/
doc/
