trigger:
  branches:
    include:
    - master
    - develop
  tags:
    include:
    - refs/tags/v*

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-latest'
    mac:
      imageName: 'macOS-latest'
    windows:
      imageName: 'vs2017-win2016'

pool:
  vmImage: $(imageName)

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '16.x'
  displayName: 'Install Node.js'

- bash: |
    /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    echo ">>> Started xvfb"
  displayName: Start xvfb
  condition: and(succeeded(), eq(variables['Agent.OS'], 'Linux'))

- bash: |
    echo ">>> Run Fanuc Macro Executor integration test"
    yarn && yarn compile && yarn test
    echo ">>> Run Fanuc Macro Executor Language Service tests"
    yarn unit-test
  displayName: Run Tests
  env:
    DISPLAY: ':99.0'
    
- bash: |
    echo ">>> Publish"
    yarn deploy
  displayName: Publish
  condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'), eq(variables['Agent.OS'], 'Windows'))
  env:
    VSCE_PAT: $(VSCE_PAT)
